<div ng-contoller='AddStoryController as vm'>
<!--
form to add story.
form located on Family profile, personal profile and Homepage
 -->

      <!-- Radio button selctors to select a family to add to -->
 <div>
   <form ng-submit="submit()">
     <p>Selected A Family: <span class="radioValue">{{ data.group1 }}</span> </p>
     <md-radio-group ng-model="data.group1">
       <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
       <md-radio-button value="Banana"> Banana </md-radio-button>
       <md-radio-button value="Mango">Mango</md-radio-button>
     </md-radio-group>
   </form>
 </div>

 <!-- NOTE: THIS FORM SHOULD BE HIDDEN (NG-SHOW) UNTIL FAMILY IS SELECTED AND LINKED!!!  Form used to edit a story -->
 <form >
   <h1 style="text-align:center"> Add A New story </h1>
   <md-input-container>
     <label style="text-align:center">Title</label>
     <input type="text" ng-model="vm.test.title">
   </md-input-container>
   <md-input-container>
     <label style="text-align:center">Photos</label>
     <input type="text" ng-model="vm.test.photo">
     <img src="http://www.gettyimages.co.uk/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg" alt="story Image">
   </md-input-container>

     <md-input-container>
       <label style="text-align:center">Body</label>
       <textarea ng-model="vm.test.body"></textarea>
     </md-input-container>

     <!-- <md-input-container>
         <label>Tags</label>
            <md-chips
                ng-model="vm.story.tags"
                readonly="vm.story.readonly"
                placeholder="Enter a tag"
                delete-button-label="Remove Tag"
                delete-hint="Press delete to remove tag"
                ></md-chips>
         </md-input-container>   <br/> -->



   <div style="text-align:center">
   <md-button class="md-raised md-primary">Submit</md-button>
   <md-button class="md-raised md-warn">Cancel</md-button>
 </div>
 </form>


</div>
