<div ng-controller='EditStoryController as vm'>

<!--
display form to edit Story page
 -->
  <h1 style="text-align:left"> Edit Story </h1>

    <!-- Form used to edit a Story -->
<form ng-submit='vm.editStory();'>
  <md-input-container>
    <label style="text-align:left">Title</label>
    <input type="text" ng-model="vm.story.title">
  </md-input-container>
  <md-input-container>
    <label style="text-align:left">Photo Url</label>
    <input type="text" ng-model="vm.story.photo">
    <img src="http://www.gettyimages.co.uk/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg" alt="Story Image">
  </md-input-container>
  <md-input-container>
    <textarea ng-model="vm.story.body">
    </textarea>
  </md-input-container>




  <!-- <md-input-container>
    <label style="text-align:center">Tags</label>
     <md-chips style="text-align:center" ng-model="vm.Story.tags">
        <input type="text" >
      </md-chips>
  </md-input-container> -->

  <md-input-container>
    <label style="text-align:center">Body</label>
    <textarea ng-model="vm.Story.body"></textarea>
  </md-input-container>
  <div style="text-align:center">
  <md-button class="md-raised md-primary">Submit</md-button>
  <md-button class="md-raised md-warn">Cancel</md-button>
</div>
</form>


</div>
