<div ng-controller='EditStoryController as vm'>

<!--
display form to edit Story page
 -->
  <h1 style="text-align:center"> Edit Story </h1>

    <!-- Form used to edit a Story -->
<form ng-init='edittedStory = vm.getCopy(s);' ng-submit='vm.editStory(s._id, edittedStory);'>
<!-- <div ng-repeat='s in vm.story'> -->
  <md-input-container>
    <label style="text-align:center">Title</label>
    <input type="text" placeholder="{{s.title}}"ng-model="edittedStory.title">
  </md-input-container>
  <md-input-container>
    <label style="text-align:center">Photo Url</label>
    <input type="text" placeholder="{{s.photo}}" ng-model="edittedStory.photo">
    <img src="http://www.gettyimages.co.uk/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg" alt="Story Image">
  </md-input-container>
  <md-input-container>
    <label style="text-align:center">Body</label>
    <textarea placeholder="{{s.body}}" ng-model="edittedStory.body"></textarea>
  </md-input-container>
  <!-- </div> -->




  <!-- <md-input-container>
    <label style="text-align:center">Tags</label>
     <md-chips style="text-align:center" ng-model="vm.Story.tags">
        <input type="text" >
      </md-chips>
  </md-input-container> -->

  <div style="text-align:center">
  <md-button class="md-raised md-primary">Submit</md-button>
  <md-button class="md-raised md-warn">Cancel</md-button>
</div>
</form>


</div>
