<div ng-contoller='FamilyController as vm'>
<!--
view for edit family and edit story on family profile page
join family button
family photo
showing all family members (possible links to personal profile)
show all story w/dates
delete family button

-->
<div style="text-align:center">
<md-button class="md-raised md-primary">Edit Family Profile</md-button>
<md-button class="md-raised md-primary">Edit A Story</md-button>
<md-button class="md-raised md-warn">Join A Family</md-button>
</div>

<div style="text-align:center">
  <h1>The {{vm.family}} Family Story</h1>
</div>

<div layout="row" layout-wrap>
  <div style="background-color:lightblue;"flex="40">
    [Family Photo]
    <img src='#' alt='family profile picture'
  </div>
  <div style="background-color:lightgreen;" flex="60">
    [Family Members]
  </div>
</div>



</div>
