<!-- <div ng-contoller='UserController as vm'> -->

<!--
Allow for login and new user registration
display add/or join family button that will
IF join display list of family,once selected prompt password to join
redirect to family profile
If add then redirct to form to add family then redirect to family profile
 -->

 <br>
 <div ng-show="nav.isLogin">
   <form class="well container" ng-submit="nav.loginUser()">
     <h1 style="color:red;text-align:center;font-family:Sans Serif">Sign In</h1>
  <md-input-container>
     <input class="form-control" required placeholder="Username..." ng-model="nav.user.username">
  </md-input-container>
    <md-input-container>
     <input type="password" class="form-control" required placeholder="Password..." ng-model="nav.user.password">
  </md-input-container>
    <md-input-container>
     <div style="text-align: center">
       <button type='button' ng-click="nav.isLogin = false;" class="btn btn-info">Register</a>
       <button type="submit" class="btn btn-primary" >Login</button><br><br>
   </md-input-container>
     </div>
   </form>
 </div>

 <div ng-show="!nav.isLogin">
   <form class="well container" ng-submit="nav.registerUser()">
     <h1 style="text-align:center;color:red;">Registration</h1>

     <md-content layout-padding class="autoScroll">
    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input placeholder="Username..." ng-model="nav.user.username" required type="text">
    </md-input-container>

    <md-input-container >
      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="nav.user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

<md-input-container>
     <label style="font-family:Ariel;">Password</label>
     <input  type="password" placeholder="Password..." ng-model="nav.user.password" required>
   </md-input-container>

 <md-input-container>
     <label style="font-family:Ariel;">Confirm Password</label>
     <input type="password" placeholder="Confirm Password..." ng-model="nav.user.confirmPassword" required>
   </md-input-container><br>

   <!-- <button ng-click='nav.isLogin'style="color:red">Exit</button> -->
 </md-content>



     <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)" style="color: red">Your passwords must match.</div>

     <div style="text-align:center">
       <!-- <button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Login</button> -->
       <button type="submit" class="btn btn-info">Submit</button>
     </div>


   </form>
 </div>






</div>
