<div ng-controller='StoryDetailsController as vm'>
<!--
display stories and pics
diplay comments for story
add comments
link to family profile and author profile -->
<div style="text-align:center">
  <h3>Family Stories</h3>
</div>
<div id='Story'>

  <div ng-repeat='p in vm.story' style="text-align:center">
    <h1>{{p.title}}</h1>
    <img src="{{p.photo}}" alt='Story photo'/>
    <h4>{{p.body}}</h4>
     <p>{{p.createBy}}</p>
    <h2>{{p.tags}}</h2>
    <h2>{{p.postedOn}}</h2>
    <!-- <h4>{{p.body}}</h4> -->
  </div>

  <div id='Comments'>
    <h2>{{comments.commenter}}</h2>
    <h2>{{comments.body}}</h2>
    <h2>{{comments.postedOn}}</h2>
  </div>
</div>










</div>
