<div ng-contoller='UserController as vm'>
<!--
display personal profile info
edit personal profile info
add new stories
photo
delete Story
delete linked profile


*** STRETCH GOALS ******
ADD DEFAULT PIC FOR STORY IF USER DOESNT UPLOAD ONE
 -->
<div class="profile-header" layout="row">
  <div flex-offset="45">
    <img ng-src="vm.user.photo" alt="" />
  </div>
</div>

<div class="toolbar" layout="row">
  <md-button class="nav-buttons"  ui-sref="AddStory">Add Story</md-button>
  <md-button class="nav-buttons"  ui-sref="AddFamily">Add a Family</md-button>
  <md-button class="nav-buttons"  ng-click="" ng-show="join">Join a Family</md-button>
</div>

<div layout="row">
  <div flex="80" class="story-box">
    <h2>My Stories</h2>
    <div ng-repeat="s in vm.user.stories track by $index">
      <md-card>
        <a ui-sref="State({id: s[$index]._id})"><img ng-src="{{s[$index].photo}}" class="md-card-image" alt="{{s[$index].title}}" title="{{s[$index].title}}"></a>
        <md-card-content>
          <div layout="row">
              <h2 class="md-title"><a ui-sref="State({id: s[$index]._id})">{{s.title}}</a></h2>
          </div>
          <div layout="row">
              Written by:<a ui-sref=""><i>{{s[$index].createBy}}</i></a><br>
          </div>
          <p>
            {{s[$index].body| characters:25}}
          </p>
          </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ui-sref="Edit({id: s[$index]._id})">Edit</md-button>
          <md-button ng-click="vm.delete(s[$index])">Delete</md-button>
      </div>
      </md-card>
    </div>
    <div flex class="family-box">
      <h2>My Family</h2>
        <div ng-repeat="f in vm.user.family track by $index">
          <h2><a ui-sref="Family({id: f[$index]._id})" ng-click="familyShow">{{f[$index].familyName}}</a></h2>
          <div ng-show="familyShow">

          </div>
        </div>
    </div>
  </div>
</div>

</div>
