<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body ng-controller="GlobalController as nav">

	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Sidenav Right</h1>
		</md-toolbar>
		<md-content layout-padding>
			<h3>Welcolme,<a ui-sref="UserProfile({id: nav.status._id})"> {{nav.status.username}}</a>!</h3>
			<h3><a ui-sref="AddFamily"> Add a Family</a></h3>
			<h3><a ng-click="joinFamily"> Join a Family</a></h3>
			<div ng-show="joinFamily">
				<md-input-container>
					<label style="text-align:center">Choose a Family</label>
					<input type="text" ng-model="vm.Story.title">
				</md-input-container>
			</div>
			<h3><a ui-sref="AddStory"> Add a Story</a></h3>
			<md-button ng-click="close()" class="md-primary">
				Close
			</md-button>
		</md-content>
	</md-sidenav>
	<ui-view></ui-view>

	<!-- Ext Libs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.js"></script>
	<!-- <script src="truncate.js"></script> -->
	<!-- Global Src -->
	<!-- <script src="truncate.js"></script> -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/AuthFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/EditFamilyController.js"></script>
	<script src="/javascript/controllers/EditStoryController.js"></script>
	<script src="/javascript/controllers/AddFamilyController.js"></script>
	<script src="/javascript/controllers/StoryController.js"></script>
	<script src="/javascript/controllers/StoryDetailsController.js"></script>
	<script src="/javascript/controllers/EditStoryController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/AddStoryController.js"></script>
	<script src="/javascript/controllers/UserController.js"></script>
</body>

</html>
